
.logoimg{
    margin: 0px 0 0 30px;
    background-clip: content-box;
    background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
    width: 140px;
    height: 140px;
    text-align: left;
    border-radius: 100px;
    display: flex;
    align-items: center; 
}

.logoimg:hover{
    cursor: pointer;
}

.brainicon{
    width: 100px;
    margin: 30px;
}