.navbar{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    color: rgb(247, 241, 229);
    margin-top: 20px;

}

.soBtn{
    padding: 10px 70px;
}